*, *:after, *:before, *:active{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  overflow: hidden;

  min-height: 100vh;

  background-image: url('../img/christmas.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;
}
body:before {
 content: '';
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
 position: absolute;
 background-color: rgba(29, 39, 93, 0.95);
 background-size: cover;
}
.body{
  position: absolute;
}
.container{
  display: flex;
    width: 95%;
    max-width: 85%;
    margin: 0 auto;
}
.header{
  margin-bottom: 100px;
}
.garland{
  display: flex;
  flex-wrap: nowrap;

  margin-top: -30px;
}
.garl{
  margin-left: -15px;
  transform: rotate(-1deg);
}


/* logo */


.logo{
  display: flex;

  padding-left: 70px;
  margin-top: -40px;
  align-items: center;
}
.logo-image{
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.logo-title{
  font-size: 31px;
  font-family: Comic Sans MS;
}
.logo-subtitle{
  color: #8E99D1;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing:0.5px;
  font-family: Bahnschrift;
}


/* main */


.subtitle{
  color:#B86BE3;
  font-size: 31px;
  font-family: Comic Sans MS;
}
.title{
  color:#E3D159;
  font-size: 78px;
  font-family: Comic Sans MS;
}


/* Content */


.content{
  display: flex;
  width: 800px;
  margin-bottom:
}
.content-1{
  display: flex;
  width:33%;
  align-items: center;
  padding-top: 50px;
  margin-right: 20px;
}
.content-logo{
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.content-title{
  font-size: 31px;
  font-family: Comic Sans MS;
}
.content-subtitle{
  font-size: 16px;
  letter-spacing:0.5px;
  font-family: Bahnschrift;
}

.button{
  display: inline-block;

  background: #9D2929;
  border-radius: 22px;
  color:#fff;
  border:none;

  padding: 32px 62px;
  margin-top: 70px;
  margin-bottom: 40px;

  font-size: 25px;
  font-family: Bahnschrift;
  box-shadow: 0 3px 10px #000;

  cursor: pointer;
}


/* tree */

.tree img{
  position: absolute;
  width: 840px;
  height: 980px;
  top: 75px;
  right: 15%;
}


/* article */


.article{
  position: absolute;
  top: -100px;
  right: 120px;
}


/* footer */


.footer{
  position: absolute;
  left:-100px;
  top:96%;
}























/* End */
